{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "jest": true,
    "browser": true,
    "jquery": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "semi": 0,
    "jsx-quotes": 0,
    "import/extensions": 0,
    "no-plusplus": 0,
    "consistent-return": 1,
    "jsx-a11y/label-has-for": 1,
    "jsx-a11y/click-events-have-key-events": 1,
    "react/jsx-closing-bracket-location": 1,
    "no-return-assign": 1
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "app/javascript"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  }
}
