.movie {
  &__image-container {
    width: 100px;

    @include tabletUp {
      width: 200px;
    }

    &--narrow {
      width: 80px;
    }
  }

  &__image {
    background-color: $light-grey;
  }
}
