body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.parakeet {
  text-align: center; }
  .parakeet__header {
    padding: 30px;
    color: #fff;
    background-color: #eee; }
  .parakeet__title {
    font-size: 1.5em; }

.movie__image-container {
  width: 100px; }
  @media (min-width: 768px) {
    .movie__image-container {
      width: 200px; } }
  .movie__image-container--narrow {
    width: 80px; }
